@model SaveNScore.ViewModels.AccountDetailsViewModel


@*@model IEnumerable<SaveNScore.Models.CustomerTransaction>*@

@{
    Layout = null;
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            Account Number
        </th>
        <th>
            Amount
        </th>
        <th>
            Transaction Type
        </th>
        <th>
            Transaction Date
        </th>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
    </tr>

    @foreach (var item in Model.CustomerTransactions.OrderByDescending(a => a.TransactionDate))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @{
                    var displayValue = (Model.TransactionsWithCategories
                .Where(v => v.TransactionID == item.TransactionID)
                .Select(v => v.spendingCategory)
                .FirstOrDefault());
                }
                @displayValue
            </td>
        </tr>
    }

</table>
